* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

fieldset{
	max-width: 80%;
	padding: 20px;
	margin: auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: solid 2px black;
	text-align: center;
}


@media screen and (min-width: 420px){

body {
    font-family: 'Sigmar One', cursive;
    background-color: #ffffff;
    background: url('https://image.freepik.com/free-vector/colorful-geometric-memphis-style-background_53876-77779.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    color: #000000;
}

#Welcome-text {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 10px 20px 120px 20px;
}

.welcome, .question .feedback {
    height: 40%;
    font-family: 'Sigmar One', cursive;
    font-size: 3vw;
    padding-top: 80px;
    color: black;
    display: block;
    justify-content: center;
    align-content: center;
    padding: 20px 20px 20px 20px;
}

.welcome-form {
    padding: 20px;
    display:block;
}

.start-button-wrapper {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.submit-button-wrapper {
	padding: 20px;
	display: flex;
	justify-content: center;
	width: 100%;


}

.button {
	width: 30%;
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #65f0dd), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #65f0dd 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #65f0dd 5%, #408c99 100%);
	background:-o-linear-gradient(top, #65f0dd 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #65f0dd 5%, #408c99 100%);
	background:linear-gradient(to bottom, #65f0dd 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#65f0dd', endColorstr='#408c99',GradientType=0);
	background-color:#65f0dd;
	-moz-border-radius:36px;
	-webkit-border-radius:36px;
	border-radius:36px;
	border:1px solid #f53d6b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2vw;
	font-weight:bold;
	padding: 10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #65f0dd));
	background:-moz-linear-gradient(top, #408c99 5%, #65f0dd 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #65f0dd 100%);
	background:-o-linear-gradient(top, #408c99 5%, #65f0dd 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #65f0dd 100%);
	background:linear-gradient(to bottom, #408c99 5%, #65f0dd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#65f0dd',GradientType=0);
	background-color:#408c99;
}
.button:active {
	position:relative;
	top:1px;
}

/*css for current question and current score*/

.score-question-number{
	font-size: 2vw;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	padding: 20px 20px 40px 20px;
	justify-content: space-between;
}

h2 {
	font-size: 4vw;
	text-align: center;
}

label{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	font-size: 3vw;
	justify-content: center;
}

.feedback-form{
	display: flex;
}

.questions-answers {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.response-explanation{
	font-size: 2vw;
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.response{
	font-size: 3vw;
	padding: 20px;
	text-align: center;
}

.next-question-wrapper{
	padding: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.results-form {
	display: flex;
	justify-content: center;
	font-size: 3vw;
	padding: 20px;
	text-align: center;
}

}

/*--------------------------------------------------- Media Queiry for smaller screens------------------------------------------------------------------*/
@media screen and (max-width: 420px){

	body {
		font-family: 'Sigmar One', cursive;
		background-color: #ffffff;
		background: url('https://image.freepik.com/free-vector/colorful-geometric-memphis-style-background_53876-77779.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		color: #000000;
	}
	
	#Welcome-text {
		display: flex;
		justify-content: center;
		align-content: center;
		padding: 10px 20px 120px 20px;
	}
	
	.welcome, .question .feedback {
		height: 40%;
		font-family: 'Sigmar One', cursive;
		font-size: 3vw;
		padding-top: 80px;
		color: black;
		display: block;
		justify-content: center;
		align-content: center;
		padding: 20px 20px 20px 20px;
	}
	
	.welcome-form {
		padding: 20px;
		display:block;
	}
	
	.start-button-wrapper {
		padding: 30px;
		display: flex;
		justify-content: center;
		align-content: center;
	}
	
	.submit-button-wrapper {
		padding: 20px;
		display: flex;
		justify-content: center;
		width: 100%;
	
	
	}
	
	.button {
		width: 30%;
		-moz-box-shadow: 0px 10px 14px -7px #276873;
		-webkit-box-shadow: 0px 10px 14px -7px #276873;
		box-shadow: 0px 10px 14px -7px #276873;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #65f0dd), color-stop(1, #408c99));
		background:-moz-linear-gradient(top, #65f0dd 5%, #408c99 100%);
		background:-webkit-linear-gradient(top, #65f0dd 5%, #408c99 100%);
		background:-o-linear-gradient(top, #65f0dd 5%, #408c99 100%);
		background:-ms-linear-gradient(top, #65f0dd 5%, #408c99 100%);
		background:linear-gradient(to bottom, #65f0dd 5%, #408c99 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#65f0dd', endColorstr='#408c99',GradientType=0);
		background-color:#65f0dd;
		-moz-border-radius:36px;
		-webkit-border-radius:36px;
		border-radius:36px;
		border:1px solid #f53d6b;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:2vw;
		font-weight:bold;
		padding: 10px 10px;
		text-decoration:none;
		text-shadow:0px 1px 0px #3d768a;
	}
	.button:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #65f0dd));
		background:-moz-linear-gradient(top, #408c99 5%, #65f0dd 100%);
		background:-webkit-linear-gradient(top, #408c99 5%, #65f0dd 100%);
		background:-o-linear-gradient(top, #408c99 5%, #65f0dd 100%);
		background:-ms-linear-gradient(top, #408c99 5%, #65f0dd 100%);
		background:linear-gradient(to bottom, #408c99 5%, #65f0dd 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#65f0dd',GradientType=0);
		background-color:#408c99;
	}
	.button:active {
		position:relative;
		top:1px;
	}
	
	.score-question-number{
		font-size: 4vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 20px 20px 40px 20px;
		justify-content: space-between;
	}
	
	h2 {
		font-size: 5vw;
		text-align: center;
	}
	
	label{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
		font-size: 3vw;
		justify-content: center;
	}
	
	.feedback-form{
		display: flex;
	}
	
	.questions-answers {
		display: flex;
		flex-direction: column;
		justify-content: center;
	
	}
	
	.response-explanation{
		font-size: 3vw;
		padding: 30px;
		display: flex;
		flex-direction: column;
	}
	
	.response{
		font-size: 5vw;
		padding: 20px;
		text-align: center;
	}
	
	.next-question-wrapper{
		padding: 20px;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	
	.results-form {
		display: flex;
		justify-content: center;
		font-size: 3vw;
		padding: 20px;
		text-align: center;
	}


}